@import './vars';
@import './colors';
@import './spacing';
@import './grid';

.italic {
  font-style: italic;
}

select {
  padding: 0 4px !important;
}

.rounded {
  border-radius: 4px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

a.disabled {
  cursor: not-allowed;
  background-color: grey;
  border: 0;
}