@import './vars';
@import './spacing';
@import './grid';

.italic {
    font-style: italic;
}

.bg {
    &-grey {
        background-color: grey;
    }

    &-negative {
        background-color: rgb(255, 180, 180);
    }
}

.text {
    &-body2 {
        font-size: 0.9em;
    }

    &-grey {
        color: grey;
    }

    &-positive {
        color: green;
    }

    &-negative {
        color: red;
    }

    &-white {
        color: white;
    }

    &-center {
        text-align: center;
    }
}

select {
    padding: 0 4px !important;
}

.rounded {
    border-radius: 4px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}