.row {
  display: flex;
}

.justify {
  &-between {
    justify-content: space-between;
  }

  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }
}

.items {
  &-center {
    align-items: center;
  }

  &-end {
    align-items: flex-end;
  }
}